* {
  margin: 0;
  padding: 0;
}

body {
  background: #1e252b;
}

.container {
  padding: 0 20px 0 20px;
  max-width: 1224px;
  margin: 0 auto;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
}
.header__left {
  display: flex;
  align-items: center;
  margin-top: 31px;
}
.header__left-descr {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.9);
  margin-left: 12px;
}
.header__center {
  display: flex;
  list-style: none;
  gap: 45px;
  margin-top: 38px;
}
.header__center-item {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
}
.header__center-item-img {
  margin-left: -45px;
  width: 18px;
  height: 18px;
  margin-top: 2px;
}
.header__right {
  margin-top: 28px;
  display: flex;
  align-items: center;
  gap: 41px;
}
.header__right-descr {
  margin-top: 10px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.78);
  opacity: 0.78;
}
.header__right-btn {
  border-radius: 8px;
  width: 118px;
  height: 48px;
  background: #FF6E30;
  border: 0;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: #fdf5ff;
}
.header__burger {
  width: 50px;
  height: 40px;
  margin-top: 26px;
  display: none;
}

@media (max-width: 930px) {
  .header__center {
    display: none;
  }
  .header__right {
    display: none;
  }
  .header__burger {
    display: block;
  }
}
.designer__content {
  display: flex;
  justify-content: space-between;
  gap: 140px;
}
.designer__img {
  margin-top: 58px;
}
.designer__left {
  margin-top: 104px;
}
.designer__item {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 50px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.9);
  max-height: 140px;
}
.designer__descr {
  margin-top: 30px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  color: rgba(255, 255, 255, 0.55);
}
.designer__label-search {
  background: none;
}
.designer__label-inp {
  background: none;
  border: none;
  outline: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.38);
  width: 260px;
}
.designer__label-btn {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  border-radius: 8px;
  width: 130px;
  height: 48px;
  background: #FF6E30;
  border: 0;
}
.designer__label {
  margin-top: 60px;
  background: #283036;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 11px 8px 18px;
  border: 1px solid #283036;
  border-radius: 15px;
}
.designer__img-message {
  margin-top: 110px;
  gap: 8px;
}
.designer__img-message-logo {
  padding: 11px;
}
.designer__img-message-facebook {
  padding: 12px;
}
.designer__span {
  color: #FF6E30;
  font-size: 80px;
}

@media (max-width: 1300px) {
  .designer__img {
    width: 500px;
    height: 530px;
  }
}
@media (max-width: 1180px) {
  .designer__content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .designer__img {
    width: 700px;
    height: 570px;
  }
  .designer__left {
    margin-top: 0;
  }
}
@media (max-width: 840px) {
  .designer__img {
    width: 500px;
    height: 400px;
  }
}
@media (max-width: 570px) {
  .designer__img {
    width: 400px;
    height: 300px;
  }
  .designer__item {
    font-family: var(--font-family);
    font-weight: 350;
    font-size: 35px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.9);
    max-height: 140px;
  }
  .label {
    margin-top: 60px;
    background: #283036;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 6px 8px 10px;
    border: 1px solid #283036;
    border-radius: 15px;
  }
  .label-btn {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border-radius: 8px;
    width: 80px;
    height: 48px;
    background: #FF6E30;
    border: 0;
  }
}
@media (max-width: 470px) {
  .designer__img {
    width: 330px;
    height: 270px;
  }
  .designer__item {
    font-family: var(--font-family);
    font-weight: 350;
    font-size: 24px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.9);
    max-height: 140px;
  }
  .label {
    margin-top: 60px;
    background: #283036;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 6px 8px 10px;
    border: 1px solid #283036;
    border-radius: 15px;
  }
  .label-btn {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    border-radius: 8px;
    width: 75px;
    height: 48px;
    background: #FF6E30;
    border: 0;
  }
  .designer__label-inp {
    background: none;
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.38);
    width: 220px;
  }
}
@media (max-width: 430px) {
  .designer__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .designer__img {
    width: 300px;
    height: 250px;
  }
  .designer__item {
    font-family: var(--font-family);
    font-weight: 350;
    font-size: 20px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.9);
    max-height: 140px;
  }
  .designer__descr {
    margin-top: 30px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 167%;
    color: rgba(255, 255, 255, 0.55);
  }
  .label {
    margin-top: 60px;
    background: #283036;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 4px 8px 8px;
    border: 1px solid #283036;
    border-radius: 15px;
  }
  .label-btn {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    border-radius: 8px;
    width: 75px;
    height: 48px;
    background: #FF6E30;
    border: 0;
  }
  .designer__label-inp {
    background: none;
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.38);
    width: 150px;
  }
}
.become__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.become__item {
  margin-top: 250px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}
.become__descr {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  color: rgba(255, 255, 255, 0.55);
}
.become__label {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  width: 549px;
  height: 64px;
  background: #283036;
}
.become__label-inp {
  width: 380px;
  margin: 22px 0 21px 24px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.38);
  border: none;
  outline: none;
  background: none;
}
.become__label-btn {
  border: 0;
  margin: 8px 12px 8px 0;
  border-radius: 8px;
  background: #FF6E30;
  width: 130px;
  height: 48px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}
.become__line {
  border: 0.5px solid rgba(255, 255, 255, 0.15);
  width: 100%;
  height: 0px;
  margin-top: 240px;
}

@media (max-width: 600px) {
  .become__item {
    margin-top: 250px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 40px;
    line-height: 130%;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
  }
  .become__label {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    width: 350px;
    height: 64px;
    background: #283036;
  }
}
@media (max-width: 600px) {
  .become__item {
    margin-top: 250px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
  }
  .become__label {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    width: 350px;
    height: 64px;
    background: #283036;
  }
}
.trusted__content {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  width: 1220px;
  height: 253px;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background: rgba(44, 53, 61, 0.2);
}
.trusted__descr {
  background: none;
  margin-top: -10px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.8);
}
.trusted__item-message {
  max-width: 193px;
  max-height: 42px;
  list-style: none;
  background: none;
}
.trusted__item {
  display: flex;
  align-items: center;
  margin-top: 55px;
  gap: 107px;
  background: none;
}

.container__net {
  display: flex;
  padding: 0 20px 0 20px;
  max-width: 1224px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container__net {
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  .trusted__item {
    display: flex;
    flex-direction: column;
  }
  .trusted__content {
    display: flex;
    justify-content: center;
    height: 700px;
    width: 650px;
  }
}
.nn {
  margin-top: 200px;
}
.nn__content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  gap: 80px;
  position: relative;
}
.nn__img {
  width: 399px;
  height: 492px;
}
.nn__descr {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.78);
  margin-bottom: 65px;
}

.name {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  border-radius: 8px;
  top: 372px;
  left: 350px;
  width: 265px;
  height: 91px;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background: rgba(40, 48, 54, 0.2);
}
.name__item {
  margin-left: 23px;
  margin-top: 10px;
  background: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 26px;
  letter-spacing: 0.01em;
  color: rgba(255, 253, 253, 0.78);
}
.name__descr {
  margin-left: 23px;
  margin-top: 2px;
  background: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 253, 253, 0.55);
  margin-bottom: 16px;
}
.name__img {
  position: absolute;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 250px;
  background: linear-gradient(235deg, rgba(252, 252, 252, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: rotate(-5deg);
  bottom: 318px;
  right: 495px;
}

@media (max-width: 1250px) {
  .name__img {
    display: none;
  }
}
@media (max-width: 840px) {
  .nn__content {
    display: flex;
    flex-direction: column;
  }
  .name {
    display: none;
  }
  .nn__img {
    width: 300px;
    height: 400px;
  }
}
.most {
  margin-top: 200px;
}
.most__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.most__item {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}
.most__descr {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  color: rgba(255, 255, 255, 0.55);
}

.mosty {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: var(--1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  width: 184px;
  height: 64px;
  background: #1e252b;
  color: #FF6E30;
  margin-top: 100px;
}

.card {
  display: flex;
}
.card__visit {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.55);
}
.card__up {
  margin-top: 90px;
  gap: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__left-item-right {
  margin-left: 10px;
}
.card__item {
  transition: transform 0.8s;
  border-radius: 15px;
  padding: 33px;
  max-width: 326px;
  min-height: 228px;
}
.card__item:hover {
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background: rgba(40, 48, 54, 0.6);
  transform: scale(1.1);
  border-radius: 15px;
  padding: 33px;
  max-width: 326px;
  min-height: 228px;
  backdrop-filter: blur(50px);
  background: rgba(40, 48, 54, 0.6);
}
.card__item:hover .card__visit {
  padding: 9px 35px;
  background: #FF6E30;
  border-radius: 8px;
  width: 106px;
  height: 42px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}
.card__logo {
  background: none;
  display: flex;
  gap: 30px;
}
.card__logo-left {
  height: 64px;
  background: none;
}
.card__logo-item {
  background: none;
}
.card__logo-right {
  background: none;
}
.card__item-descr {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.78);
  background: none;
}
.card__descr-logo {
  margin-top: 3px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 165, 55, 0.55);
  background: none;
}
.card__descr {
  background: none;
  margin-top: 30px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: rgba(255, 255, 255, 0.55);
  max-width: 300px;
}
.card__bottom {
  background: none;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.card__left {
  margin-left: 5px;
  background: none;
}
.card__right {
  background: none;
}
.card__left-item-right {
  background: none;
}
.card__left-item-left {
  background: none;
}
.card__bottom-bottom {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 100px;
}

@media (max-width: 850px) {
  .most__duble {
    display: flex;
    justify-content: center;
  }
  .card__bottom-bottom {
    display: flex;
    flex-direction: column;
  }
  .card__up {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 730px) {
  .most__duble {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.tools {
  margin-top: 200px;
}
.tools__content {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}
.tools__item {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.9);
}
.tools__descr {
  margin-top: 30px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 167%;
  color: rgba(255, 255, 255, 0.55);
}
.tools__btn {
  margin-top: 60px;
  border-radius: 8px;
  width: 198px;
  height: 58px;
  background: #FF6E30;
  border: 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}
.tools__right {
  display: flex;
}

@media (max-width: 850px) {
  .tools__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tools__left {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 620px) {
  .tools__right {
    display: flex;
    flex-direction: column;
  }
}
.footer {
  margin-top: 70px;
  padding-bottom: 98px;
}
.footer__content {
  display: flex;
  justify-content: center;
  gap: 156px;
}
.footer__item {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.9);
}
.footer__descr {
  margin-top: 25px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
}
.footer__logo {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer__descr-descr {
  margin-top: 21px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 179%;
  color: rgba(255, 255, 255, 0.55);
}
.footer__right {
  display: flex;
  gap: 115px;
}
.footer__ul-item {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
  list-style: none;
}
.footer__ul-descr {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.55);
  list-style: none;
  margin-top: 10px;
}
.footer__ul-descr-norm {
  margin-top: 20px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.55);
  list-style: none;
}

@media (max-width: 1000px) {
  .footer__content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media (max-width: 640px) {
  .footer__right {
    display: flex;
    flex-direction: column;
  }
  .footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=index.css.map */